@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 146 40% 31%;
    --primary-foreground: 210 40% 98%;

    --secondary: 180, 0%, 54%;
    --secondary-foreground: 180, 0%, 54%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* global style components */

@layer components {
  .primary-link-hover-menu {
    @apply after:content-[''] after:h-[2px] after:w-0 after:absolute after:-bottom-[2px] after:left-0 after:block after:bg-[#ECBF19] after:hover:w-full after:transition-[width] after:duration-150 transition-all  after:ease-in-out after:delay-75 relative;
  }

  .primary-link-hover {
    text-decoration: none;
  }

  .primary-link-hover:hover {
    text-decoration: underline #ECBF19;
  }

  .custom-display-2xl {
    @apply text-4xl lg:leading-[6rem] lg:text-[70px] sm:text-5xl md:text-6xl -tracking-[1px];
  }

  .custom-display-xl{
    @apply lg:text-6xl -tracking-[2px];
  }

  .custom-display-lg{
    @apply text-5xl -tracking-[2px];
  }

  .custom-display-md {
    @apply text-4xl -tracking-[2px];
  }

  .custom-display-sm {
    @apply text-3xl;
  }

  .custom-display-xs {
    @apply text-2xl !tracking-normal !leading-[30px];
  }


  .custom-w-sm {
    /* width: clamp(3rem, 1.3333rem + 3.4722vw, 5.5rem); */
    width: 5.5rem;
  }

  .custom-h-sm {
    /* height: clamp(2rem, 1.3333rem + 1.3889vw, 3rem) !important; */
    height: 3rem !important;
  }

  .custom-text-md {
    font-size: clamp(0.5rem, 0.1667rem + 0.6944vw, 1rem);
  }
}

.swiper-pagination {
  @apply absolute top-[40%] xl:top-[45%] z-30 md:flex text-white  justify-between items-center w-full md:px-8 px-16 hidden;
}

.swiper-pagination button.prev {
  @apply after:content-[''] relative after:absolute  after:top-1 after:left-1 after:right-1 after:bottom-1 after:bg-white/10 after:rounded-full after:-z-10;
}

.swiper-pagination button.prev:hover {
  @apply transition-all duration-500 ease-in-out delay-75 -translate-x-3;
}

.swiper-pagination button.prev:hover::after {
  @apply transition-all duration-500 ease-in-out delay-75  bg-white/50;
}

.swiper-pagination button.next {
  @apply after:content-[''] relative after:absolute  after:top-1 after:left-1 after:right-1 after:bottom-1 after:bg-white/10 after:rounded-full after:-z-10;
}

.swiper-pagination button.next:hover {
  @apply transition-all duration-500 ease-in-out delay-75 translate-x-3;
}

.swiper-pagination button.next:hover::after {
  @apply transition-all duration-500 ease-in-out delay-75  bg-white/50;
}

.swiper-pagination svg {
  width: clamp(3rem, 1.3333rem + 3.4722vw, 5.5rem);
  height: clamp(3rem, 1.3333rem + 3.4722vw, 5.5rem);
}

/* a {
  @apply hover:!text-[#ECBF19] transition-all;
} */
/* a:hover {
  @apply !text-[#ECBF19];
} */

.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  bottom: 20px;
}

.scrollToTopButton.visible {
  opacity: 1;
}

.scrollToTopButton:hover {
  @apply transition-all duration-500 ease-in-out delay-75  bg-green-800;
}



/* date picker */
.ant-picker-ranges {
  @apply !p-0;
}

.ant-picker-range-arrow {
  @apply !hidden;
}

.ant-picker-ok,
.ant-picker-now {
  @apply !m-0 !p-0 w-full flex-grow !flex justify-center !rounded-none;
}

.ant-btn,
.ant-picker-now-btn {
  @apply w-full  h-[40px] text-secondary !text-center !border-0 hover:bg-secondary hover:text-white !rounded-none;
}

.react-player-dialog > button {
  color: white;
}

.toast-warning::before {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='56' height='56' rx='28' fill='%23FDBA74'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.4009 19.0034C26.5554 17.0023 29.4435 17.0023 30.598 19.0034L37.9523 31.7509C39.1062 33.7509 37.6627 36.2501 35.3538 36.2501H20.6451C18.3361 36.2501 16.8927 33.7509 18.0465 31.7509L25.4009 19.0034ZM27.9996 24.25C28.4138 24.25 28.7496 24.5858 28.7496 25V28.75C28.7496 29.1642 28.4138 29.5 27.9996 29.5C27.5854 29.5 27.2496 29.1642 27.2496 28.75V25C27.2496 24.5858 27.5854 24.25 27.9996 24.25ZM27.9996 32.5C28.4138 32.5 28.7496 32.1642 28.7496 31.75C28.7496 31.3358 28.4138 31 27.9996 31C27.5854 31 27.2496 31.3358 27.2496 31.75C27.2496 32.1642 27.5854 32.5 27.9996 32.5Z' fill='%23EA580C'/%3E%3C/svg%3E%0A");
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 8px;
}

.search-form svg {
  /* width: clamp(0.75rem, 0.25rem + 1.0417vw, 1.5rem) !important;
  height: clamp(0.75rem, 0.25rem + 1.0417vw, 1.5rem) !important; */
  /* top: clamp(0.625rem, 0.7917rem + -0.3472vw, 0.375rem); */
  margin: 0 !important;
}

.search-form input {
  padding-left: clamp(2.3rem, 1.3348rem + 1.3877vw, 3rem) !important;
}

.search-form button {
  column-gap: clamp(0.3125rem, 0.0208rem + 0.6076vw, 0.75rem);
}

.search-form button {
  padding-left: clamp(0.5rem, 0.1667rem + 0.6944vw, 1rem);
  padding-right: clamp(0.5rem, 0.1667rem + 0.6944vw, 1rem);
}

.room-description .rdp-button {
  @apply border-0 border-none opacity-100 rounded-none bg-[#30704C] !text-white;
}


.room-description .rdp-button[name="previous-month"], .room-description .rdp-button[name="next-month"] {
  @apply border-0 border-none opacity-100 rounded-none bg-gray-300 !text-white;
}

.room-description .rdp-button svg {
  @apply w-5 h-5 !text-black;
}

.custom-date-disabled.rdp-button {
  color: #c6c9cf !important;
  background: linear-gradient(
    315.26deg,
    #ffffff 0%,
    #ffffff 0%,
    #ebebeb 2.9%,
    #fcfcfc 4.35%
  );
  box-shadow: 1px 1px 0px 0px #ffffff inset;
  @apply line-through;
}

.room-description .custom-date-partial.rdp-button[name="day"] {
  @apply  text-white !bg-yellow-500;
}

.room-description .custom-date-selected.rdp-button[aria-selected="true"], .room-description .rdp-button:hover {
  @apply  !text-black  !bg-gray-300 !opacity-100;
  /* background: #30704C !important; */
}

.room-description .rdp-button[name="day"].custom-date-today {
  @apply border-2 border-black border-solid !bg-primary  !text-white;
}

.room-description .custom-date-booked.rdp-button[name="day"] {
  background: #30704C !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  color: transparent !important;
  background-size: 55%  !important;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='64.000000pt' height='64.000000pt' viewBox='0 0 64.000000 64.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,64.000000) scale(0.100000,-0.100000)'%0Afill='%23fff' stroke='none'%3E%3Cpath d='M16 624 c-9 -8 -16 -20 -16 -26 0 -6 59 -71 132 -145 l132 -133 -132%0A-133 c-73 -74 -132 -139 -132 -145 0 -14 28 -42 42 -42 6 0 71 59 145 132%0Al133 132 133 -132 c74 -73 139 -132 145 -132 14 0 42 28 42 42 0 6 -59 71%0A-132 145 l-132 133 132 133 c73 74 132 139 132 145 0 14 -28 42 -42 42 -6 0%0A-71 -59 -145 -132 l-133 -132 -133 132 c-74 73 -139 132 -145 132 -6 0 -18 -7%0A-26 -16z'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
}

.room-description .custom-date-booked.rdp-button[name="day"]:not(.custom-date-disabled) {
  @apply  !opacity-100;
}

.fully-booked::after {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  color: transparent !important;
  background-size: 35%  !important;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='64.000000pt' height='64.000000pt' viewBox='0 0 64.000000 64.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,64.000000) scale(0.100000,-0.100000)'%0Afill='%23fff' stroke='none'%3E%3Cpath d='M16 624 c-9 -8 -16 -20 -16 -26 0 -6 59 -71 132 -145 l132 -133 -132%0A-133 c-73 -74 -132 -139 -132 -145 0 -14 28 -42 42 -42 6 0 71 59 145 132%0Al133 132 133 -132 c74 -73 139 -132 145 -132 14 0 42 28 42 42 0 6 -59 71%0A-132 145 l-132 133 132 133 c73 74 132 139 132 145 0 14 -28 42 -42 42 -6 0%0A-71 -59 -145 -132 l-133 -132 -133 132 c-74 73 -139 132 -145 132 -6 0 -18 -7%0A-26 -16z'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
}

/* .room-description .custom-date-selected {
  @apply !bg-primary !text-white;
} */

.room-description-calendar .rdp-tbody tr {
  @apply mt-[5px] gap-x-[5px];
}

.room-description-calendar .rdp-tbody tr td,
.room-description-calendar .rdp-tbody tr td button {
  @apply w-full;
}

#nprogress .bar {
  @apply !z-[9999999999];
}

.custom-styles-content {
  @apply py-8;
}


.custom-styles-content h1 {
  @apply text-4xl lg:leading-[6rem] lg:text-[70px] sm:text-5xl md:text-6xl -tracking-[1px];
}



.custom-styles-content h2 {
  @apply text-5xl mt-8 mb-4;
}

.custom-styles-content h3 {
  @apply text-4xl mt-8 mb-4;
}


.custom-styles-content h4 {
  @apply text-xl mt-8 mb-4;
}


.custom-styles-content h5 {
  @apply text-lg mt-8 mb-4;
}

.custom-styles-content h6 {
  @apply text-base !tracking-normal !leading-[30px];
}

.custom-styles-content p {
  @apply text-base mb-4;
}

.custom-styles-content ul {
  @apply text-base mb-4 pl-4;
}

.custom-styles-content ul li {
  @apply list-disc;
}

.rsw-toolbar {
  @apply !hidden;
}

.footer-quicklinks {
  @apply flex flex-col gap-y-4;
}

.footer-quicklinks h5 {
  @apply text-white font-bold text-sm;
}

.footer-quicklinks h3 {
  @apply text-white text-3xl font-bold;
}

.footer-quicklinks .cta li:first-child {
  @apply text-2xl font-bold text-white primary-link-hover;
}

.footer-quicklinks .cta li:last-child {
  @apply text-2xl font-bold text-[#ECBF19] primary-link-hover;
}

input {
  user-select: none !important;
}

div[data-radix-popper-content-wrapper] {
  z-index: 999999 !important;
}

@media (orientation: landscape) and (max-width: 1024px) {
  .container {
   padding-left: 3.5rem;
   padding-right: 3.5rem;
  }
}

.ayala-table > div {
  @apply max-h-[500px] relative overflow-y-auto;
}

.ayala-table > div::-webkit-scrollbar-thumb {
  background-color: red; /* Color of the vertical scrollbar */
  border-radius: 10px;
}

/* CSS for animating background color */
@keyframes  smooth-color-change {
  0% { fill: #EBEBEB; } /* Starting color */
  50% { fill: #30704c; } /* Ending color */
  100% { fill: #EBEBEB; } /* Ending color */
}

.animate-bg {
  width: 100px;
  height: 100px;
  fill: #30704c; /* Initial background color */
  animation: smooth-color-change 2s infinite ease-in-out;
}

a {
  @apply !outline-none;
}

.room-description .rdp-button[name="day"].custom-date-today.custom-date-disabled {
  @apply  !text-black;
}


.room-description .rdp-caption_start {
  @apply w-full;
}